Repository snippergoals/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spotify/backstage-core, @spotify/techdocs-core, @trivago/ebarrios

e2e-test: ignore unhandled errors from jsdom
  packages/e2e-test/src/e2e-test.ts
Owners: @spotify/backstage-core

new tutorials (#2435)
  docs/tutorials/quickstart-app-auth.md
  docs/tutorials/quickstart-app-plugin.md
  microsite/sidebars.json
Owners: @spotify/backstage-core

feat(catalog/gql): running prettier on some files that neeeded it
  plugins/catalog-graphql/codegen.yml
Owners: @spotify/backstage-core

chore(catalog/gql): fixing issues for build failure
  plugins/graphql/src/service/router.ts
Owners: @spotify/backstage-core

chore(catalog/gql): fixing typescript
  plugins/app-backend/src/run.ts
Owners: @spotify/backstage-core

use version from lerna.json or fallback to 0.1.0
  packages/cli/src/commands/create-plugin/createPlugin.ts
Owners: @spotify/backstage-core

fix(catalog-backend): address comments and add docs
  CHANGELOG.md
  docs/features/software-catalog/configuration.md
  microsite/sidebars.json
  mkdocs.yml
  plugins/catalog-backend/src/ingestion/LocationReaders.ts
  plugins/catalog-backend/src/ingestion/processors/GithubReaderProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GithubReaderProcessor.ts
Owners: @spotify/backstage-core

Removed unused types
  plugins/cloudbuild/src/api/CloudbuildApi.ts
  plugins/cloudbuild/src/api/CloudbuildClient.ts
  plugins/cloudbuild/src/api/types.ts
  plugins/cloudbuild/src/components/WorkflowRunLogs/WorkflowRunLogs.tsx
  plugins/cloudbuild/src/components/WorkflowRunLogs/index.ts
  plugins/cloudbuild/src/components/WorkflowRunLogs/useDownloadWorkflowRunLogs.ts
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
Owners: @trivago/ebarrios

chore(contrib): form the basic contrib hierarchy
  contrib/README.md
  contrib/kubernetes/basic_kubernetes_example_with_helm/README.md
  contrib/kubernetes/basic_kubernetes_example_with_helm/app.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backend.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/.helmignore
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/Chart.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/README.md
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/templates/_helpers.tpl
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/templates/deployment.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/templates/ingress.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/templates/service.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/backstage/values.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/ingress.yaml
  contrib/kubernetes/basic_kubernetes_example_with_helm/service.yaml
Owners: @spotify/backstage-core

fix(workflows): do not run e2e when contrib or docs change
  .github/workflows/e2e.yml
Owners: @spotify/backstage-core

feat: use title for API type in table
  plugins/api-docs/src/components/ApiExplorerPage/ApiExplorerPage.test.tsx
  plugins/api-docs/src/components/ApiExplorerTable/ApiExplorerTable.test.tsx
  plugins/api-docs/src/components/ApiExplorerTable/ApiExplorerTable.tsx
Owners: @spotify/backstage-core

[microsite] Add CNCF logo (#2511)
  microsite/pages/en/index.js
  microsite/static/css/custom.css
  microsite/static/img/cncf-color.svg
  microsite/static/img/cncf-white.svg
Owners: @spotify/backstage-core

Cleanup unused types
  plugins/cloudbuild/src/api/CloudbuildApi.ts
  plugins/cloudbuild/src/api/CloudbuildClient.ts
  plugins/cloudbuild/src/api/types.ts
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/cloudbuild/src/components/WorkflowRunDetails/useWorkflowRunJobs.ts
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
Owners: @trivago/ebarrios

Change readme from cloudbuild to Goolge cloudbuild
  plugins/cloudbuild/README.md
Owners: @trivago/ebarrios

Change readme from cloudbuild to Goolge cloudbuild
  plugins/cloudbuild/README.md
Owners: @trivago/ebarrios

Ran prettier on packages/app/src/components/catalog/EntityPage.tsx
  packages/app/src/components/catalog/EntityPage.tsx
Owners: @spotify/backstage-core

chore(catalog/gql): making the backend start
  plugins/catalog-graphql/src/graphql/module.ts
Owners: @spotify/backstage-core

feat: move add example components to a more visible space and change behavior
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/filter/EntityFilterGroupsProvider.tsx
  plugins/catalog/src/filter/context.ts
  plugins/catalog/src/filter/useFilteredEntities.ts
Owners: @spotify/backstage-core

feat(catalog-backend): delete log entries older than a cutoff
  plugins/catalog-backend/src/database/CommonDatabase.ts
Owners: @spotify/backstage-core

ignore graphql plugins from codecov
  .codecov.yml
Owners: @spotify/backstage-core

TechDocs: Use a flag to determine if we should use a local mkdocs or techdocs-container (#2503)
  app-config.yaml
  docs/features/techdocs/getting-started.md
  packages/backend/src/plugins/techdocs.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/packages/backend/src/plugins/techdocs.ts
  plugins/techdocs-backend/src/service/standaloneServer.ts
  plugins/techdocs-backend/src/techdocs/stages/generate/generators.test.ts
  plugins/techdocs-backend/src/techdocs/stages/generate/techdocs.ts
Owners: @spotify/backstage-core, @spotify/techdocs-core

chore(codecov): prettier why do you hate me
  .codecov.yml
Owners: @spotify/backstage-core

chore(codecov): trying again?
  .codecov.yml
Owners: @spotify/backstage-core

v0.1.1-alpha.21
  lerna.json
  packages/app/package.json
  packages/backend-common/package.json
  plugins/catalog/package.json
  plugins/circleci/package.json
  plugins/explore/package.json
Owners: @spotify/backstage-core

Update changelog
  CHANGELOG.md
Owners: @spotify/backstage-core

feat(core): add single select component
  packages/core/src/components/Select/Select.stories.tsx
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Select/index.tsx
  packages/core/src/components/Select/static/ClosedDropdown.tsx
  packages/core/src/components/Select/static/OpenedDropdown.tsx
Owners: @spotify/backstage-core

fix(core): prettier on select component
  packages/core/src/components/Select/Select.stories.tsx
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Select/static/ClosedDropdown.tsx
  packages/core/src/components/Select/static/OpenedDropdown.tsx
Owners: @spotify/backstage-core

feat(core): add multiple select component
  packages/core/src/components/Select/Select.stories.tsx
  packages/core/src/components/Select/Select.tsx
Owners: @spotify/backstage-core

feat(core): add CheckboxTree component
  packages/core/src/components/CheckboxTree/CheckboxTree.stories.tsx
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/CheckboxTree/index.tsx
Owners: @spotify/backstage-core

feat(core): update Table filter logic
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.stories.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

fix(core): run prettier
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

feat(core): add table filters count
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

feat(core): styling updates
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

feat(core): add table filters tab toggle logic
  packages/core/src/components/Table/Table.stories.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

fix(core): filter count + nullable category label
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

feat(core): select + checkboxtree style - handle changes
  packages/core/src/components/CheckboxTree/CheckboxTree.stories.tsx
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Select/Select.stories.tsx
  packages/core/src/components/Select/Select.tsx
Owners: @spotify/backstage-core

fix(core): filters edge cases
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

style(core): update CheckBoxTree styles
  packages/core/src/components/CheckboxTree/CheckboxTree.stories.tsx
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
Owners: @spotify/backstage-core

refactor(core): add immer + action renaming
  packages/core/package.json
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  yarn.lock
Owners: @spotify/backstage-core

fix(core): tsc errors
  packages/core/src/components/CheckboxTree/CheckboxTree.stories.tsx
  packages/core/src/components/Select/Select.stories.tsx
  packages/core/src/components/Select/Select.tsx
Owners: @spotify/backstage-core

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @spotify/backstage-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core
