Repository snippergoals/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spotify/backstage-core, @spotify/techdocs-core, @trivago/ebarrios

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @spotify/backstage-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core

review
  packages/core/src/components/DismissableBanner/DismissableBanner.tsx
  packages/theme/src/themes.ts
Owners: @spotify/backstage-core

backend-common: add initial discovery API and simple single host implementation
  packages/backend-common/src/discovery/SingleHostDiscovery.ts
  packages/backend-common/src/discovery/index.ts
  packages/backend-common/src/discovery/types.ts
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/backend-common/src/service/lib/config.ts
Owners: @spotify/backstage-core

feat: add ApiDefinitionAtLocationProcessor that allows to load a API definition from another location
  docs/features/software-catalog/well-known-annotations.md
  packages/catalog-model/examples/all-apis.yaml
  packages/catalog-model/examples/spotify-api.yaml
  plugins/catalog-backend/src/ingestion/LocationReaders.ts
  plugins/catalog-backend/src/ingestion/processors/ApiDefinitionAtLocationProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/ApiDefinitionAtLocationProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/types.ts
Owners: @spotify/backstage-core

backend: add and use for external URL discovery
  packages/backend/src/index.ts
  packages/backend/src/plugins/auth.ts
  packages/backend/src/plugins/proxy.ts
  packages/backend/src/types.ts
  plugins/auth-backend/src/service/router.ts
  plugins/auth-backend/src/service/standaloneServer.ts
  plugins/proxy-backend/src/service/router.test.ts
  plugins/proxy-backend/src/service/router.ts
  plugins/proxy-backend/src/service/standaloneServer.ts
Owners: @spotify/backstage-core

techdocs-backend: use endpoint discovery to look up catalog url
  packages/backend/src/plugins/techdocs.ts
  plugins/techdocs-backend/src/service/router.ts
  plugins/techdocs-backend/src/service/standaloneServer.ts
Owners: @spotify/backstage-core, @spotify/techdocs-core

rename SamlAuthConnector to DirectAuthConnector
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
  packages/core-api/src/lib/AuthConnector/DirectAuthConnector.ts
  packages/core-api/src/lib/AuthConnector/index.ts
Owners: @spotify/backstage-core

CHANGELOG: add entry for backend service discovery
  CHANGELOG.md
Owners: @spotify/backstage-core

docs: update roadmap (#2602)
  docs/overview/roadmap.md
Owners: @spotify/backstage-core

create-app: update to use backend discovery
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/auth.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/proxy.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/techdocs.ts
  packages/create-app/templates/default-app/packages/backend/src/types.ts
Owners: @spotify/backstage-core

fix(backend): make csp configurable to unbreak app-backend served apps not being able to fetch
  app-config.development.yaml
  app-config.yaml
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/backend-common/src/service/lib/config.ts
  packages/create-app/templates/default-app/app-config.development.yaml
  packages/create-app/templates/default-app/app-config.yaml.hbs
Owners: @spotify/backstage-core

auth-backend: move auth provider router creation to router
  plugins/auth-backend/src/providers/factories.ts
  plugins/auth-backend/src/providers/index.ts
  plugins/auth-backend/src/service/router.ts
Owners: @spotify/backstage-core

docs: tweak proxying docs
  docs/plugins/proxying.md
Owners: @spotify/backstage-core

fix(create-app): sync scaffolded backend with example
  packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts
Owners: @spotify/backstage-core

create-app: remove discovery api override
  packages/create-app/templates/default-app/packages/app/src/apis.ts
Owners: @spotify/backstage-core

Remove duplicated line
  packages/app/src/components/catalog/EntityPage.tsx
Owners: @spotify/backstage-core

plugins/jenkins: maybe refactor to use DiscoveryApi
  plugins/jenkins/src/api/index.ts
  plugins/jenkins/src/plugin.ts
Owners: @spotify/backstage-core

Updated package.json in plugin to include missing deps
  plugins/cloudbuild/package.json
Owners: @trivago/ebarrios

auth-backend: added CatalogIdentityClient
  plugins/auth-backend/package.json
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.ts
  plugins/auth-backend/src/lib/catalog/index.ts
Owners: @spotify/backstage-core

auth-backend: forward discovery instance to providers
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/types.ts
  plugins/auth-backend/src/service/router.ts
Owners: @spotify/backstage-core

auth-backend: look up google users in the catalog via email annotation
  plugins/auth-backend/src/providers/google/provider.ts
Owners: @spotify/backstage-core

plugins/circleci: refactor to use DiscoverApi
  docs/api/utility-apis.md
  plugins/circleci/dev/index.tsx
  plugins/circleci/src/api/index.ts
  plugins/circleci/src/plugin.ts
Owners: @spotify/backstage-core

create-app: default to using internal scope for new plugins
  packages/create-app/templates/default-app/package.json.hbs
Owners: @spotify/backstage-core

backend-common: use localhost to fall back to IPv4 if IPv6 isn't available
  packages/backend-common/src/discovery/SingleHostDiscovery.ts
Owners: @spotify/backstage-core

CHANGELOG: bump to alpha.23
  CHANGELOG.md
Owners: @spotify/backstage-core

kubernetes: deployment pod table (#2618)
  plugins/kubernetes-backend/examples/dice-roller/dice-roller-manifests.yaml
  plugins/kubernetes/package.json
  plugins/kubernetes/src/components/DeploymentTables/DeploymentTables.test.tsx
  plugins/kubernetes/src/components/DeploymentTables/DeploymentTables.tsx
  plugins/kubernetes/src/components/DeploymentTables/__fixtures__/2-deployments.json
  plugins/kubernetes/src/components/DeploymentTables/index.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  plugins/kubernetes/src/types/types.ts
Owners: @spotify/backstage-core

Update publishing.md
  docs/plugins/publishing.md
Owners: @spotify/backstage-core

feat: 404 page for entity not found
  plugins/catalog/src/components/EntityNotFound/EntityNotFound.tsx
  plugins/catalog/src/components/EntityNotFound/Illo.jsx
  plugins/catalog/src/components/EntityNotFound/illo.svg
  plugins/catalog/src/components/EntityNotFound/index.ts
  plugins/catalog/src/components/Router.tsx
  plugins/catalog/src/hooks/useEntity.ts
Owners: @spotify/backstage-core
