Repository snippergoals/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spotify/backstage-core, @spotify/techdocs-core, @trivago/ebarrios

fix(core): AND logic between group of filters
  packages/core/src/components/Table/Filters.tsx
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

fix(core): prettier
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Table/Filters.tsx
Owners: @spotify/backstage-core

feat(core): add filters clear
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Select/Select.tsx
  packages/core/src/components/Table/Filters.tsx
Owners: @spotify/backstage-core

test(catalog/gql): added some tests as i couldn't get codecov to ignore
  .codecov.yml
  plugins/catalog-graphql/src/service/client.test.ts
  plugins/graphql/src/service/router.test.ts
  plugins/graphql/src/service/router.ts
Owners: @spotify/backstage-core

Modify Author field in details and change it to Service Account
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
Owners: @trivago/ebarrios

Update quickstart-app-auth.md
  docs/tutorials/quickstart-app-auth.md
Owners: @spotify/backstage-core

create-app: fix missing .gitignore file when scaffolded
  packages/create-app/templates/default-app/.gitignore.hbs
Owners: @spotify/backstage-core

feat(core): add missing tests
  packages/core/src/components/CheckboxTree/CheckboxTree.test.tsx
  packages/core/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core/src/components/Select/Select.test.tsx
  packages/core/src/components/Select/Select.tsx
Owners: @spotify/backstage-core

Move standalone.Dockerfile to contrib directory
  contrib/docker/multi-stage-frontend/Dockerfile
  contrib/docker/multi-stage-frontend/README.md
Owners: @spotify/backstage-core

Fix prettier on multi-stage-fontend README.md
  contrib/docker/multi-stage-frontend/README.md
Owners: @spotify/backstage-core

Fix Dockerfile comments and README instructions
  contrib/docker/multi-stage-frontend/Dockerfile
  contrib/docker/multi-stage-frontend/README.md
Owners: @spotify/backstage-core

test(catalog/gql): added some test for the catalog graphql module
  plugins/catalog-graphql/src/graphql/module.test.ts
Owners: @spotify/backstage-core

feat(cli): adding the backend flag to the cli
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/src/commands/index.ts
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/default-backend-plugin/scripts/mock-data.sh
  packages/cli/templates/default-backend-plugin/src/index.ts
  packages/cli/templates/default-backend-plugin/src/setupTests.ts
Owners: @spotify/backstage-core

chore(cli): fixed the failing tests
  packages/app/package.json
  packages/app/src/plugins.ts
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/templates/default-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
  packages/cli/templates/default-plugin/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx.hbs
  packages/cli/templates/default-plugin/src/setupTests.ts
Owners: @spotify/backstage-core

chore(cli): fixing issues
  packages/app/package.json
  packages/app/src/plugins.ts
Owners: @spotify/backstage-core

fix(gcp-projects): some postponed cleanup of the plugin code (#2523)
  plugins/gcp-projects/src/api/GCPClient.ts
  plugins/gcp-projects/src/api/GcpApi.ts
  plugins/gcp-projects/src/api/GcpClient.ts
  plugins/gcp-projects/src/api/index.ts
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/ProjectDetailsPage/ProjectDetailsPage.tsx
  plugins/gcp-projects/src/components/ProjectListPage/ProjectListPage.tsx
  plugins/gcp-projects/src/plugin.ts
Owners: @spotify/backstage-core

merge master and start using discoveryApi
  app-config.yaml
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
  packages/core-api/src/lib/AuthConnector/SamlAuthConnector.ts
  packages/core/src/api-wrappers/defaultApis.ts
Owners: @spotify/backstage-core

feat(catalog): show only components
  plugins/catalog/src/filter/EntityFilterGroupsProvider.tsx
Owners: @spotify/backstage-core

Modify the value of Service Account in the details to correct the error that was not showing the service account
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
Owners: @trivago/ebarrios

[microsite] tweaking CNCF logo styling (#2529)
  microsite/pages/en/index.js
  microsite/static/css/custom.css
Owners: @spotify/backstage-core

Remove getAccessToken func
  app-config.yaml
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
  packages/core-api/src/lib/AuthConnector/SamlAuthConnector.ts
Owners: @spotify/backstage-core

remove the console.log
  plugins/auth-backend/src/providers/saml/provider.ts
Owners: @spotify/backstage-core

Update docker base image to buster for node
  contrib/docker/multi-stage-frontend/Dockerfile
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Owners: @spotify/backstage-core

core/package.json: pin core-api to same version as core
  packages/core/package.json
Owners: @spotify/backstage-core

switch to use generic sessionmanager and storage
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
  packages/core-api/src/lib/AuthSessionManager/AuthSessionStore.ts
  packages/core-api/src/lib/AuthSessionManager/SamlAuthSessionManager.ts
  packages/core-api/src/lib/AuthSessionManager/SamlAuthSessionStore.ts
  packages/core-api/src/lib/AuthSessionManager/StaticAuthSessionManager.ts
  packages/core-api/src/lib/AuthSessionManager/common.ts
  packages/core-api/src/lib/AuthSessionManager/index.ts
Owners: @spotify/backstage-core

remove type that is not used
  packages/core-api/src/lib/AuthSessionManager/types.ts
Owners: @spotify/backstage-core

fix banner position and color
  packages/core/src/components/DismissableBanner/DismissableBanner.stories.tsx
  packages/core/src/components/DismissableBanner/DismissableBanner.tsx
  packages/theme/src/themes.ts
  packages/theme/src/types.ts
Owners: @spotify/backstage-core

remove comments
  packages/core/src/components/DismissableBanner/DismissableBanner.tsx
Owners: @spotify/backstage-core

Added toggled option for allowing longpath in windows through nodegit
  plugins/techdocs-backend/src/helpers.ts
Owners: @spotify/techdocs-core

chore(cli/backend): fixing some drit
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/default-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
Owners: @spotify/backstage-core

fix(core): table styling
  packages/core/src/components/Table/Table.tsx
Owners: @spotify/backstage-core

comment to explain option
  plugins/techdocs-backend/src/helpers.ts
Owners: @spotify/techdocs-core

TechDocs: adjust mkdocs extensions (#2516)
  packages/techdocs-container/mock-docs/docs/index.md
  packages/techdocs-container/techdocs-core/README.md
  packages/techdocs-container/techdocs-core/requirements.txt
  packages/techdocs-container/techdocs-core/setup.py
  packages/techdocs-container/techdocs-core/src/core.py
Owners: @spotify/techdocs-core

Bump version of techdocs-core plugin in techdocs-container (#2539)
  packages/techdocs-container/Dockerfile
Owners: @spotify/techdocs-core

Fix identity typo
  plugins/catalog/src/components/CatalogFilter/CatalogFilter.test.tsx
Owners: @spotify/backstage-core

feature(component-registration): allow SCM specification
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.tsx
  plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.tsx
Owners: @spotify/backstage-core

tests(register-component): update tests to use test-id for submit button
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.test.tsx
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.tsx
Owners: @spotify/backstage-core

docs: clarify role of identity and SignInPage
  docs/auth/index.md
Owners: @spotify/backstage-core

inline styles -> class rule for default alignment
  packages/core/src/layout/InfoCard/InfoCard.tsx
Owners: @spotify/backstage-core

chore(cli): fixing issues with the new dependency
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/default-plugin/package.json.hbs
  plugins/api-docs/package.json
  plugins/app-backend/package.json
  plugins/auth-backend/package.json
  plugins/catalog-graphql/package.json
  plugins/circleci/package.json
  plugins/explore/package.json
  plugins/gcp-projects/package.json
  plugins/github-actions/package.json
  plugins/gitops-profiles/package.json
  plugins/graphiql/package.json
  plugins/identity-backend/package.json
  plugins/jenkins/package.json
  plugins/lighthouse/package.json
  plugins/newrelic/package.json
  plugins/register-component/package.json
  plugins/rollbar/package.json
  plugins/scaffolder/package.json
  plugins/sentry/package.json
  plugins/tech-radar/package.json
  plugins/techdocs/package.json
  plugins/welcome/package.json
Owners: @spotify/backstage-core, @spotify/techdocs-core

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @spotify/backstage-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core
