Repository snippergoals/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spotify/backstage-core, @spotify/techdocs-core, @trivago/ebarrios

apply comments
  packages/core/src/components/DismissableBanner/DismissableBanner.tsx
  packages/theme/src/types.ts
Owners: @spotify/backstage-core

Replaced warning with <Typography> with a <WarningPanel> in WorkflowRunDetails.tsx
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
Owners: @trivago/ebarrios

refactor to use sessionApi
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
Owners: @spotify/backstage-core

Removed commented lines from WorkflowRunsTable.tsx
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Owners: @trivago/ebarrios

Renamed CLOUDBUID_ANNOTATION from google.com/cloudbuild to google.com/cloudbuild-project-slug
  plugins/cloudbuild/src/components/useProjectName.ts
Owners: @trivago/ebarrios

Replaced id: for id: run.id
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
Owners: @trivago/ebarrios

Renamed onReRunClick in useWorkflowRuns.ts to rerun
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
Owners: @trivago/ebarrios

backend-common: default config env to development
  packages/backend-common/src/config.ts
Owners: @spotify/backstage-core

Using moment to parse the date
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Owners: @trivago/ebarrios

Change way of getting service account with new URL and qs
  plugins/cloudbuild/package.json
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
Owners: @trivago/ebarrios

Bumped version to alpha.23
  plugins/cloudbuild/package.json
Owners: @trivago/ebarrios

Removed unused total_count entry
  plugins/cloudbuild/src/components/WorkflowRunDetails/useWorkflowRunJobs.ts
Owners: @trivago/ebarrios

Ran prettier on the two files modified directly on github
  packages/app/package.json
  packages/app/src/plugins.ts
Owners: @spotify/backstage-core

fix: address comments
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
  packages/catalog-model/src/index.ts
  packages/catalog-model/src/types.ts
Owners: @spotify/backstage-core

Remove getTokenId and userId
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
Owners: @spotify/backstage-core

revert identifyEnv implementation
  plugins/auth-backend/src/providers/saml/provider.ts
Owners: @spotify/backstage-core

Fix typo (#2584)
  docs/overview/what-is-backstage.md
Owners: @spotify/backstage-core

chore: add contrib to CONTRIBUTING.md (#2585)
  CONTRIBUTING.md
Owners: @spotify/backstage-core

fix(techdocs-core): use the content of the readme as long description for the pypi package (#2578)
  packages/techdocs-container/techdocs-core/setup.py
Owners: @spotify/techdocs-core

chore(gcp): updating gcp projects npm visibility
  plugins/gcp-projects/package.json
Owners: @spotify/backstage-core

chore(deps): updating dependencies for plugin
  plugins/api-docs/package.json
  plugins/catalog/package.json
  plugins/circleci/package.json
  plugins/explore/package.json
  plugins/gcp-projects/package.json
  plugins/github-actions/package.json
  plugins/gitops-profiles/package.json
  plugins/graphiql/package.json
  plugins/jenkins/package.json
  plugins/lighthouse/package.json
  plugins/newrelic/package.json
  plugins/register-component/package.json
  plugins/rollbar/package.json
  plugins/scaffolder/package.json
  plugins/sentry/package.json
  plugins/tech-radar/package.json
  plugins/techdocs/package.json
  plugins/welcome/package.json
Owners: @spotify/backstage-core, @spotify/techdocs-core

chore(cli): added node-fetch as a setup dependeny
  packages/cli/templates/default-plugin/src/setupTests.ts
Owners: @spotify/backstage-core

fix(techdocs-core): change development status of techdocs core package (#2589)
  packages/techdocs-container/techdocs-core/README.md
  packages/techdocs-container/techdocs-core/setup.py
Owners: @spotify/techdocs-core

Add widget to show recent git workflow runs
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/github-actions/src/components/Cards/RecentWorkflowRunsCard.test.tsx
  plugins/github-actions/src/components/Cards/RecentWorkflowRunsCard.tsx
  plugins/github-actions/src/components/Cards/index.ts
  plugins/github-actions/src/components/useWorkflowRuns.ts
Owners: @spotify/backstage-core

Add widget to show recent git workflow runs
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/github-actions/src/components/Cards/RecentWorkflowRunsCard.test.tsx
Owners: @spotify/backstage-core

chore(diff): updating plugin diff for new k8s plugin
  plugins/kubernetes/package.json
  yarn.lock
Owners: @spotify/backstage-core

Add widget to show recent git workflow runs
  packages/app/src/components/catalog/EntityPage.tsx
Owners: @spotify/backstage-core

fix(core): remove multi-select all results option
  packages/core/src/components/Select/Select.tsx
Owners: @spotify/backstage-core

chore(cli): addding backstage backend plugin creation
  packages/e2e-test/src/e2e-test.ts
Owners: @spotify/backstage-core

[docs] Add links to CNCF information (#2570)
  README.md
  docs/overview/architecture-overview.md
  docs/overview/architecture-terminology.md
  docs/overview/background.md
  docs/overview/support.md
  docs/overview/what-is-backstage.md
  microsite/core/Footer.js
  microsite/sidebars.json
  mkdocs.yml
Owners: @spotify/backstage-core

feat(catalog): entirely case insensitive read path of entities
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/constants.ts
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/policies/DefaultNamespaceEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/DefaultNamespaceEntityPolicy.ts
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
  plugins/catalog-backend/migrations/20200923104503_case_insensitivity.js
  plugins/catalog-backend/src/catalog/CoalescedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/catalog/CoalescedEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.test.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/search.test.ts
  plugins/catalog-backend/src/database/search.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.test.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
Owners: @spotify/backstage-core

TechDocs: Add troubleshooting docs
  docs/features/techdocs/troubleshooting.md
  microsite/sidebars.json
  mkdocs.yml
Owners: @spotify/techdocs-core, @spotify/backstage-core

Update README.md (#2591)
  plugins/auth-backend/README.md
Owners: @spotify/backstage-core

feat(catalog-model): add the User entity
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/src/EntityPolicies.ts
  packages/catalog-model/src/kinds/UserEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/UserEntityV1alpha1.ts
  packages/catalog-model/src/kinds/index.ts
Owners: @spotify/backstage-core

add /api to catalog endpoint (#2595)
  plugins/techdocs-backend/src/service/router.ts
Owners: @spotify/techdocs-core

K8s add cluster lookup (#2571)
  app-config.yaml
  packages/backend/src/plugins/kubernetes.ts
  plugins/kubernetes-backend/examples/dice-roller/README.md
  plugins/kubernetes-backend/examples/dice-roller/catalog-info.yaml
  plugins/kubernetes-backend/examples/dice-roller/dice-roller-manifests.yaml
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/cluster-locator/MultiTenantConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/MultiTenantConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/types.ts
  plugins/kubernetes-backend/src/index.ts
  plugins/kubernetes-backend/src/service/KubernetesClientProvider.test.ts
  plugins/kubernetes-backend/src/service/KubernetesClientProvider.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/service/getKubernetesObjectsByServiceIdHandler.test.ts
  plugins/kubernetes-backend/src/service/getKubernetesObjectsByServiceIdHandler.ts
  plugins/kubernetes-backend/src/service/router.test.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/service/standaloneApplication.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/Router.tsx
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  yarn.lock
Owners: @spotify/backstage-core

Tweak dark mode colors
  packages/theme/src/themes.ts
Owners: @spotify/backstage-core

tweak contrast
  packages/theme/src/themes.ts
Owners: @spotify/backstage-core

Enable carryforward for codecov flags
  .codecov.yml
Owners: @spotify/backstage-core

review
  packages/theme/src/themes.ts
Owners: @spotify/backstage-core

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @spotify/backstage-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core
