Repository snippergoals/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spotify/backstage-core, @spotify/techdocs-core, @trivago/ebarrios

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @spotify/backstage-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core

chore(cli): fixing create again
  packages/cli/templates/default-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
  packages/cli/templates/default-plugin/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx.hbs
  packages/test-utils-core/package.json
  yarn.lock
Owners: @spotify/backstage-core

chore(cli): revert some core testing utils
  packages/test-utils-core/package.json
Owners: @spotify/backstage-core

chore(cli): fixing cli issues
  packages/cli/templates/default-plugin/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx.hbs
Owners: @spotify/backstage-core

chore(cli): updating nodefetch
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/default-backend-plugin/src/setupTests.ts
  packages/cli/templates/default-plugin/package.json.hbs
Owners: @spotify/backstage-core

fix tsc error
  packages/core-api/src/lib/AuthConnector/SamlAuthConnector.ts
Owners: @spotify/backstage-core

add sidebar option
  packages/core-api/src/apis/implementations/auth/saml/SamlAuth.ts
  packages/core/src/layout/Sidebar/DefaultProviderSettings.tsx
  packages/core/src/layout/Sidebar/Settings/OIDCProviderSettings.tsx
Owners: @spotify/backstage-core

remove comment
  plugins/auth-backend/src/providers/saml/provider.ts
Owners: @spotify/backstage-core

chore(register-component): just a bunch of cleanup of code and tests
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.test.tsx
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.tsx
  plugins/register-component/src/components/RegisterComponentForm/index.ts
  plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.test.tsx
  plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.tsx
  plugins/register-component/src/components/RegisterComponentResultDialog/RegisterComponentResultDialog.test.tsx
  plugins/register-component/src/components/RegisterComponentResultDialog/RegisterComponentResultDialog.tsx
Owners: @spotify/backstage-core

core: refactor SessionStateApi to SessionApi with sign-in/out
  packages/core-api/src/apis/definitions/IdentityApi.ts
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/implementations/auth/github/GithubAuth.ts
  packages/core-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-api/src/app/AppIdentity.ts
  packages/core-api/src/app/types.ts
  packages/core/src/layout/Sidebar/DefaultProviderSettings.tsx
  packages/core/src/layout/Sidebar/Settings/OAuthProviderSettings.tsx
  packages/core/src/layout/Sidebar/Settings/OIDCProviderSettings.tsx
  packages/core/src/layout/Sidebar/Settings/ProviderSettingsItem.tsx
  packages/core/src/layout/Sidebar/Settings/UserSettingsMenu.tsx
  packages/core/src/layout/Sidebar/Settings/index.ts
  packages/core/src/layout/Sidebar/Sidebar.stories.tsx
  packages/core/src/layout/SignInPage/auth0Provider.tsx
  packages/core/src/layout/SignInPage/commonProvider.tsx
  packages/core/src/layout/SignInPage/providers.tsx
  packages/core/src/layout/SignInPage/types.ts
  packages/storybook/.storybook/apis.js
Owners: @spotify/backstage-core

docs: regenerate api reference docs
  docs/reference/utility-apis/AlertApi.md
  docs/reference/utility-apis/AppThemeApi.md
  docs/reference/utility-apis/BackstageIdentityApi.md
  docs/reference/utility-apis/Config.md
  docs/reference/utility-apis/DiscoveryApi.md
  docs/reference/utility-apis/FeatureFlagsApi.md
  docs/reference/utility-apis/IdentityApi.md
  docs/reference/utility-apis/OAuthApi.md
  docs/reference/utility-apis/OAuthRequestApi.md
  docs/reference/utility-apis/OpenIdConnectApi.md
  docs/reference/utility-apis/ProfileInfoApi.md
  docs/reference/utility-apis/README.md
  docs/reference/utility-apis/SessionApi.md
  docs/reference/utility-apis/StorageApi.md
Owners: @spotify/backstage-core

chore: trust the Boolean :)
  plugins/circleci/src/components/Router.tsx
  plugins/github-actions/src/components/Router.tsx
  plugins/jenkins/src/components/Router.tsx
  plugins/rollbar/src/components/Router.tsx
Owners: @spotify/backstage-core

TechDocs: Enable allowVulnerableTags in sanitize-html (#2554)
  plugins/techdocs/src/reader/transformers/sanitizeDOM/index.test.ts
  plugins/techdocs/src/reader/transformers/sanitizeDOM/tags.ts
Owners: @spotify/techdocs-core

Add codecov flags for core and core-api packages
  .codecov.yml
Owners: @spotify/backstage-core

Upload package specific code coverage to codecov
  .github/workflows/master.yml
Owners: @spotify/backstage-core

CHANGELOG: add entry for SessionApi refactor
  CHANGELOG.md
Owners: @spotify/backstage-core

feat(freben): add handling and docs for entity references
  docs/architecture-decisions/adr008-default-catalog-file-name.md
  docs/architecture-decisions/adr009-entity-references.md
  docs/features/software-catalog/references.md
  microsite/sidebars.json
  mkdocs.yml
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
  packages/catalog-model/src/index.ts
  packages/catalog-model/src/types.ts
Owners: @spotify/backstage-core

Kubernetes plugins boilerplate (#2559)
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  packages/app/src/plugins.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/kubernetes.ts
  plugins/kubernetes-backend/.eslintrc.js
  plugins/kubernetes-backend/README.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/index.test.ts
  plugins/kubernetes-backend/src/index.ts
  plugins/kubernetes-backend/src/run.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/service/standaloneApplication.ts
  plugins/kubernetes-backend/src/service/standaloneServer.ts
  plugins/kubernetes-backend/src/setupTests.ts
  plugins/kubernetes/.eslintrc.js
  plugins/kubernetes/README.md
  plugins/kubernetes/dev/index.tsx
  plugins/kubernetes/package.json
  plugins/kubernetes/src/Router.tsx
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/api/types.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  plugins/kubernetes/src/components/KubernetesContent/index.ts
  plugins/kubernetes/src/index.ts
  plugins/kubernetes/src/plugin.test.ts
  plugins/kubernetes/src/plugin.ts
  plugins/kubernetes/src/setupTests.ts
Owners: @spotify/backstage-core

core-api/routing: initial RouteRefRegistry implementation
  packages/core-api/src/routing/RouteRefRegistry.test.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
Owners: @spotify/backstage-core

core-api/routing: make RouteRef implement ConcreteRoute and use in registry test
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/RouteRefRegistry.test.ts
Owners: @spotify/backstage-core

core-api/routing: implement parameterized and absolute path resolution
  packages/core-api/src/routing/RouteRefRegistry.test.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
Owners: @spotify/backstage-core

core-api/routing: make RouteRefs immutable + move out some types
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/RouteRefRegistry.test.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
  packages/core-api/src/routing/index.ts
  packages/core-api/src/routing/types.ts
Owners: @spotify/backstage-core

core-api/routing: only require args in link call if routeRef has params
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/RouteRefRegistry.test.ts
Owners: @spotify/backstage-core

core-api/routing: switch ref to prop and rename to routeReference
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
  packages/core-api/src/routing/types.ts
Owners: @spotify/backstage-core

core-api/routing: allow duplicate registration if paths match
  packages/core-api/src/routing/RouteRefRegistry.test.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
Owners: @spotify/backstage-core

core-api/routing: initial subroute implementation
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/RouteRefRegistry.test.ts
  packages/core-api/src/routing/RouteRefRegistry.ts
  packages/core-api/src/routing/types.ts
Owners: @spotify/backstage-core

core-api: add back MutableRouteRef for backwards compatibility and export AbsoluteRouteRef
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/index.ts
Owners: @spotify/backstage-core

chore(scaffolder-backend): typo in visibility
  docs/features/software-templates/installation.md
  packages/backend/src/plugins/scaffolder.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/src/scaffolder/stages/publish/github.ts
Owners: @spotify/backstage-core

backend: change the default backend plugin mount point to /api
  CHANGELOG.md
  app-config.yaml
  docs/auth/add-auth-provider.md
  docs/features/software-templates/adding-templates.md
  docs/features/techdocs/getting-started.md
  docs/openapi/definitions/auth.yaml
  docs/tutorials/quickstart-app-auth.md
  packages/app/src/App.test.tsx
  packages/app/src/apis.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/auth.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/packages/app/src/App.test.tsx
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  packages/e2e-test/src/e2e-test.ts
  plugins/auth-backend/README.md
  plugins/auth-backend/scripts/start-saml-idp.sh
  plugins/auth-backend/src/service/router.ts
  plugins/techdocs-backend/README.md
  plugins/techdocs-backend/src/techdocs/stages/publish/local.ts
Owners: @spotify/backstage-core, @spotify/techdocs-core

Simplify codecov flag names
  .codecov.yml
  .github/workflows/master.yml
Owners: @spotify/backstage-core

document cleaning - tutorial quickstarts (#2520)
  contrib/docs/tutorials/quickstart-app-plugin/ExampleComponent.md
  contrib/docs/tutorials/quickstart-app-plugin/ExampleFetchComponent.md
  docs/tutorials/quickstart-app-auth.md
  docs/tutorials/quickstart-app-plugin.md
Owners: @spotify/backstage-core

[blog] Announce CNCF Sandbox (#2568)
  microsite/blog/2020-09-23-backstage-cncf-sandbox.md
  microsite/blog/assets/cncf-sandbox/CNCF.png
Owners: @spotify/backstage-core

Rename file
  microsite/blog/assets/cncf-sandbox/cncf.png
Owners: @spotify/backstage-core

fix dense in metadata table
  packages/core/src/components/StructuredMetadataTable/MetadataTable.tsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.stories.tsx
Owners: @spotify/backstage-core

set dense as default value
  packages/core/src/components/StructuredMetadataTable/MetadataTable.tsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.stories.tsx
Owners: @spotify/backstage-core

change class component to functional component
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.tsx
Owners: @spotify/backstage-core

bug(gql): use import to import the graphql module
  plugins/catalog-graphql/src/graphql/module.ts
Owners: @spotify/backstage-core

Updated plugin name on the README.md
  plugins/cloudbuild/README.md
Owners: @trivago/ebarrios

TechDocs: Inject CSS transformer and initial backstage style integration for reader (#2560)
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/index.ts
  plugins/techdocs/src/reader/transformers/injectCss.test.ts
  plugins/techdocs/src/reader/transformers/injectCss.ts
Owners: @spotify/techdocs-core

Using the new way of injecting one API into another and added encodeURIComponent for all urls variables on CloudbuildClient.ts
  plugins/cloudbuild/src/api/CloudbuildApi.ts
  plugins/cloudbuild/src/api/CloudbuildClient.ts
  plugins/cloudbuild/src/components/WorkflowRunDetails/useWorkflowRunsDetails.ts
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
  plugins/cloudbuild/src/plugin.ts
Owners: @trivago/ebarrios

Change Promise<any> to Promise<void> in reRunWorkflow function
  plugins/cloudbuild/src/api/CloudbuildClient.ts
Owners: @trivago/ebarrios
